.app {
  background-color: #ab0007;
  min-height: 100vh;
  width: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ab0007;
}

@media (max-width: 1200px) {
  .app {
    max-width: 100%;
  }
}
